{% extends "base.html" %}

{% block title %}About - HO{% endblock %}

{% block body %}

<!-- Start of About's Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-dark">
        <div class="container">
          <h2 class="text-info">About page!</h2>
          <hr class="bg-light">
          <blockquote class="blockquote">
            <p class="mb-0">Nothing to show for the moment.</p>
          </blockquote>
        </div>
      </div>
<!-- End of About's Jumbotron -->
            


{% endblock %}